@page "/"
@using RedakcniSystem.Data
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject ArticleService ArticleService
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor IHttp
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UsersService UsersService

<div class="card-deck">
    @foreach (var article in articles)
    {
        <div class="card">
            <img class="card-img-top" src="@article.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.ShortText</p>
                <p class="card-text"><small class="text-muted">@article.Created.Date.ToString("MMMM dd, yyyy")</small></p>
              <AuthorizeView>
                  <Authorized>
                        <button type="button" class="btn btn-primary" @onclick="() => ViewArticle(article.Id)">View</button>
                        <button type="button" class="btn btn-secondary" @onclick="() => EditArticle(article.Id)">Edit</button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteArticle(article.Id)">Delete</button>
                  </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-primary" @onclick="() => ViewArticle(article.Id)">View</button>
                    </NotAuthorized>
              </AuthorizeView>
            </div>
        </div>
    }
</div>

@code{

    List<Article> articles = new List<Article>();

    protected override void OnInitialized()
    {
        articles = ArticleService.GetArticles();
        if (IHttp.HttpContext != null && !IHttp.HttpContext.User.Identity.IsAuthenticated)
        {
            articles = articles.Where(x => x.Visible == true).ToList();
        }
        
        var lol = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
    }

    public void ViewArticle(int id)
    {
        NavigationManager.NavigateTo($"articleview/{id}");
    }
    public void EditArticle(int id)
    {
        NavigationManager.NavigateTo($"editarticle/{id}");
    }
    public void DeleteArticle(int id)
    {
        ArticleService.DeleteArticle(id);
    }
    
}