@page "/browse"
@using RedakcniSystem.Data
@inject ArticleService ArticleService
@inject NavigationManager NavigationManager;
@inject UsersService UsersService 

<div style="display: flex; justify-content: center; align-items: center"> 
    <EditForm class="form-inline my-2 my-lg-0" Model=@Search>
        <InputText  @bind-Value=Search.Content class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" @onclick="() => Filter()">Search</button>
    </EditForm>
</div>
<br>
<br>

<div class="card-deck">
    @foreach (var article in articles)
    {
        <div class="card">
            <img class="card-img-top" src="@article.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.ShortText</p>
                <p class="card-text"><small class="text-muted">@article.Created.Date.ToString("MMMM dd, yyyy")</small></p>
              <AuthorizeView Roles="admin">
                  <Authorized>
                        <button type="button" class="btn btn-primary" @onclick="() => ViewArticle(article.Id)">View</button>
                        <button type="button" class="btn btn-secondary" @onclick="() => EditArticle(article.Id)">Edit</button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteArticle(article.Id)">Delete</button>
                  </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-primary" @onclick="() => ViewArticle(article.Id)">View</button>
                    </NotAuthorized>
              </AuthorizeView>
            </div>
        </div>
    }
</div>

@code{

    List<Article> articles = new List<Article>();
    Search Search = new Search();

    protected override void OnInitialized()
    {
        articles = ArticleService.GetArticles();
    }

    public void ViewArticle(int id)
    {
        NavigationManager.NavigateTo($"articleview/{id}");
    }
    public void EditArticle(int id)
    {
        NavigationManager.NavigateTo($"editarticle/{id}");
    }
    public void DeleteArticle(int id)
    {
        ArticleService.DeleteArticle(id);
    }

    public void Filter()
    {
        articles = ArticleService.Search(Search);
    }
    
}