@page "/editarticle/{id:int}"
@using RedakcniSystem.Data
@inject ArticleService ArticleService
@inject GalleryService GalleryService
@inject NavigationManager NavigationManager

<AuthorizeView>
  <Authorized Context="Auth">
    <EditForm Model=@Article>
        <div class="form-group">
            <label for="Title">Title</label>
            <InputText @bind-Value=Article.Title class="form-control" id="Title" />
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            <InputText @bind-Value=Article.Author class="form-control" id="Author" />
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
            <InputTextArea @bind-Value=Article.Content class="form-control" id="Content" />
        </div>
        <div class="form-group">
            <label for="ShortText">Short text</label>
            <InputTextArea @bind-Value=Article.ShortText class="form-control" id="ShortText" />
        </div>
        <div class="form-group">
            <label for="ImageUrl">ImageUrl</label>
            <InputText @bind-Value=Article.ImageUrl class="form-control" id="ImageUrl" />
        </div>
        <div class="form-group">
            <label for="Album">Album</label>
            <select @bind="Article.AlbumName" id="Album">
                <option value="">None</option>
                @foreach (var album in GalleryService.GetAlbums())
                {
                    <option value=@album.Name>@album.Name</option>
                }
            </select>

        </div>
        <div class="form-group">
            <label for="Tags">Tags</label>
            @foreach (var tag in Article.Tags)
            {
                <InputText @bind-Value=tag.Content class="form-control" id="Tags" />
                <button type="button" class="btn btn-danger" @onclick="() => Article.Tags.Remove(tag)">Delete tag</button>
            }
            <br/>
            <button type="button" class="btn btn-secondary" @onclick="() => Article.Tags.Add(new Tag())">Add tag</button>
        </div>
        <div class="form-group">
          <label for="Visibility">Visibility</label>
          <InputCheckbox @bind-Value=Article.Visible class="form-control" id="Visibility"/>
        </div>
            <br/>
            <br/>
        <button type="button" class="btn btn-primary" @onclick="() => ArticleEdit()">Edit article</button>
    </EditForm>
    </Authorized>
</AuthorizeView>
@code{
    [Parameter]
    public int Id { get; set; }
    
    Article Article = new Article();

    protected override void OnInitialized()
    {
        Article = ArticleService.GetArticle(Id);
    }

    public void ArticleEdit()
    {
        ArticleService.EditArticle(Article);
        NavigationManager.NavigateTo("/articles");
    }
}